@import '_normalize';
@import '_variables';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=latin-ext');

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: $background-blue;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	height: 100vh;
}

.button__add-glass {
	background-color: #fff;
	border: none;
	border-radius: 4px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	flex-shrink: 0;
	font-size: 18px;
	font-weight: 500;
	height: 47px;
	margin-bottom: 37px;
	width: 216px;
}

.button__subtract-glass {
	background-color: $background-blue;
	border: none;
	color: #f5e5e7;
	font-weight: 500;
}

.glass {
	margin-bottom: 48px;
	position: relative;

	&__basic-blue {
		bottom: 20px;
		position: absolute;
		right: 25px;
		transition: height 0.5s;
	}

	&__counter {
		bottom: 50px;
		font-size: 100px;
		font-weight: 500;
		margin: 0;
		position: absolute;
		text-align: center;
		width: 100%;
	}
}

.main {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	margin: 0 auto;
	width: 215px;
}
